.info {
  display: flex;
  width: 100%;
  column-gap: 5%;
  border-bottom: 1px solid gray;
}
.img__wrapper {
  width: 25%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ava {
  width: 100%;
  object-fit: contain;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
.name {
  display: flex;
  align-items: center;
  margin-top: 13px;
  font-size: 40px;
  height: 50%;
}
.status {
  height: 50%;
  font-size: 25px;
}
